<div class="Polaris-Page" style="min-height: 80vh;">
  <div class="Polaris-Page-Header Polaris-Page-Header--hasActionMenu">
    <div class="Polaris-Page-Header__MainContent">
      <div class="Polaris-Page-Header__TitleActionMenuWrapper">
        <div>
          <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
            <div class="Polaris-Header-Title">
              <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Dashboard</h1>
            </div>
          </div>
        </div>
        <div class="Polaris-Page-Header__ActionMenuWrapper">
          <div class="Polaris-ActionMenu">
            <div class="Polaris-ActionMenu__ActionsLayout"></div>
          </div>
        </div>
      </div>
      <div class="Polaris-Page-Header__PrimaryActionWrapper"><button type="button" class="Polaris-Button Polaris-Button--primary" id="btnSubmit"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>
    </div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
      <div class="Polaris-Layout__AnnotatedSection">
        <div class="Polaris-Layout__AnnotationWrapper">
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">App Status</h2>
              <div class="Polaris-Layout__AnnotationDescription">
                <p>Enable/Disable app in a single click</p>
              </div>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                  <%= form_with(model: @shop, local: true,url: home_update_shop_path) do |form| %>
                    <% if @shop.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

                        <ul>
                        <% @shop.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="Polaris-SettingAction">
                      <%= form.hidden_field :status, value: !@shop.status %>
                      <% if @shop.status %>
                        <div class="Polaris-SettingAction__Setting">
                          Go Cart App is <span class="Polaris-TextStyle--variationStrong">enabled</span>.
                        </div>
                        <div class="Polaris-SettingAction__Action">
                          <button type="submit" class="Polaris-Button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Disable</span></span></button>
                        </div>
                      <% else %>
                        <div class="Polaris-SettingAction__Setting">
                          Go Cart App is <span class="Polaris-TextStyle--variationStrong">disabled</span>.
                        </div>
                        <div class="Polaris-SettingAction__Action">
                          <button type="submit" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Enable</span></span></button>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= form_with(model: @shop, local: true,url: home_update_shop_path,html: { id: "settingForm",class: "w-100 annoted-form" }) do |form| %>
        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">App Settings</h2>
                <div class="Polaris-Layout__AnnotationDescription">
                  <p>Customize “blink” to your preference </p>
                </div>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                  <div class="Polaris-Card__Section">
                    <% if @shop.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

                        <ul>
                        <% @shop.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="Polaris-FormLayout">
                      <div class="Polaris-FormLayout__Item">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label"><label id="TextField3Label" for="TextField3" class="Polaris-Label__Text">Blink Color</label></div>
                          </div>
                          <div class="Polaris-TextField">
                            <%= form.text_field :blink_color,class: "Polaris-TextField__Input mini-color" %>
                            <div class="Polaris-TextField__Backdrop"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section">
                    <div class="Polaris-FormLayout">
                      <div class="Polaris-FormLayout__Item">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label"><label id="TextField3Label" for="TextField3" class="Polaris-Label__Text">Blink Speed - Fast (0.5) to Slow (3.0)</label></div>
                          </div>
                          <div class="Polaris-Connected">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                              <div class="Polaris-TextField Polaris-TextField--hasValue">
                                <%= form.text_field :blink_speed,class: "Polaris-TextField__Input" %>
                                <div class="Polaris-TextField__Backdrop"></div>
                              </div>
                            </div>
                          </div>
                          <div class="Polaris-Labelled__HelpText" id="PolarisTextField6HelpText">Value should be between 0.5 to 3.0</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section">
                    <div class="Polaris-FormLayout">
                      <div class="Polaris-FormLayout__Item">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label"><label id="TextField3Label" for="TextField3" class="Polaris-Label__Text">Blink Width</label></div>
                          </div>
                          <div class="Polaris-TextField">
                            <%= form.text_field :blink_wider,class: "Polaris-TextField__Input" %>
                            <div class="Polaris-TextField__Backdrop"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Polaris-Layout__AnnotatedSection">
          <div class="Polaris-Layout__AnnotationWrapper">
            <div class="Polaris-Layout__Annotation">
              <div class="Polaris-TextContainer">
                <h2 class="Polaris-Heading">Blink Preview</h2>
                <div class="Polaris-Layout__AnnotationDescription">
                  <p>Click save to apply changes</p>
                </div>
              </div>
            </div>
            <div class="Polaris-Layout__AnnotationContent">
              <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                  <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4; display: flex; justify-content: center;">
                    <div class="cart-count-container">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M169.6 377.6c-22.882 0-41.6 18.718-41.6 41.601 0 22.882 18.718 41.6 41.6 41.6s41.601-18.718 41.601-41.6c-.001-22.884-18.72-41.601-41.601-41.601zM48 51.2v41.6h41.6l74.883 151.682-31.308 50.954c-3.118 5.2-5.2 12.482-5.2 19.765 0 27.85 19.025 41.6 44.825 41.6H416v-40H177.893c-3.118 0-5.2-2.082-5.2-5.2 0-1.036 2.207-5.2 2.207-5.2l20.782-32.8h154.954c15.601 0 29.128-8.317 36.4-21.836l74.882-128.8c1.237-2.461 2.082-6.246 2.082-10.399 0-11.446-9.364-19.765-20.8-19.765H135.364L115.6 51.2H48zm326.399 326.4c-22.882 0-41.6 18.718-41.6 41.601 0 22.882 18.718 41.6 41.6 41.6S416 442.082 416 419.2c0-22.883-18.719-41.6-41.601-41.6z"></path></svg>
                      <div class="count-wrap">
                        <span class="cart_count">1</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# if @shop.is_paid %>
          <div class="Polaris-Layout__AnnotatedSection">
            <div class="Polaris-Layout__AnnotationWrapper">
              <div class="Polaris-Layout__Annotation">
                <div class="Polaris-TextContainer">
                  <h2 class="Polaris-Heading">Advance Settings</h2>
                  <div class="Polaris-Layout__AnnotationDescription">
                    <p>Customizable animated page title message</p>
                  </div>
                </div>
              </div>
              <div class="Polaris-Layout__AnnotationContent">
                <div class="Polaris-Card">
                    <div class="Polaris-Card__Section">
                      <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Item">
                          <div class="">
                            <div class="Polaris-Labelled__LabelWrapper">
                              <div class="Polaris-Label"><label id="PolarisTextField6Label" for="cart_shop_title_text" class="Polaris-Label__Text">Title Text (when items added to cart)</label></div>
                            </div>
                            <div class="Polaris-Connected">
                              <div class="Polaris-Connected__Item Polaris-Connected__Item--primary z-21">
                                <div class="Polaris-TextField Polaris-TextField--hasValue <%= @shop.is_paid ? '' : 'premium' %>">
                                  <%= form.text_field :cart_title_text, data: {emojiable: true},class: "Polaris-TextField__Input" %>
                                  <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                              </div>
                            </div>
                            <div class="Polaris-Labelled__HelpText" id="PolarisTextField6HelpText">Use {cart_items} short code to display cart count</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Polaris-Card__Section">
                      <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Item">
                          <div class="">
                            <div class="Polaris-Labelled__LabelWrapper">
                              <div class="Polaris-Label"><label id="PolarisTextField6Label" for="no_cart_shop_title_text" class="Polaris-Label__Text">Title Text (when cart is empty)</label></div>
                            </div>
                            <div class="Polaris-Connected">
                              <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                <div class="Polaris-TextField Polaris-TextField--hasValue <%= @shop.is_paid ? '' : 'premium' %>">
                                  <%= form.text_field :no_cart_title_text, data: {emojiable: true},class: "Polaris-TextField__Input" %>
                                  <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                              </div>
                            </div>
                            <div class="Polaris-Labelled__HelpText" id="PolarisTextField6HelpText">Use {cart_items} short code to display cart count</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="Polaris-Card__Section">
                      <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Item">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label"><label id="TextField3Label" class="Polaris-Label__Text">Title Animation Type</label></div>
                          </div>
                          <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                            <div class="Polaris-Stack Polaris-Stack--vertical">
                              <div class="Polaris-Stack__Item">
                                <div>
                                  <label class="Polaris-Choice <%= @shop.is_paid ? '' : 'premium' %>" for="shop_title_animation_type_blink">
                                    <span class="Polaris-Choice__Control">
                                      <span class="Polaris-RadioButton">
                                        <%= form.radio_button :title_animation_type, 'blink', class: 'Polaris-RadioButton__Input' %>
                                        <span class="Polaris-RadioButton__Backdrop"></span>
                                        <span class="Polaris-RadioButton__Icon"></span>
                                      </span>
                                    </span>
                                    <span class="Polaris-Choice__Label">Blink</span>
                                  </label>
                                  <div class="Polaris-Choice__Descriptions">
                                    <div class="Polaris-Choice__HelpText" id="disabledHelpText">The title text will blink when customer is away</div>
                                  </div>
                                </div>
                              </div>
                              <div class="Polaris-Stack__Item">
                                <div>
                                  <label class="Polaris-Choice <%= @shop.is_paid ? '' : 'premium' %>" for="shop_title_animation_type_scroll">
                                    <span class="Polaris-Choice__Control">
                                      <span class="Polaris-RadioButton">
                                        <%= form.radio_button :title_animation_type, 'scroll', class: 'Polaris-RadioButton__Input' %>
                                        <span class="Polaris-RadioButton__Backdrop"></span>
                                        <span class="Polaris-RadioButton__Icon"></span>
                                      </span>
                                    </span>
                                    <span class="Polaris-Choice__Label">Scroll</span>
                                  </label>
                                  <div class="Polaris-Choice__Descriptions">
                                    <div class="Polaris-Choice__HelpText" id="optionalHelpText">The title text will scroll when customer is away</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotatedSection">
            <div class="Polaris-Layout__AnnotationWrapper">
              <div class="Polaris-Layout__Annotation">
                <div class="Polaris-TextContainer">
                  <h2 class="Polaris-Heading">Title Animation Preview</h2>
                  <div class="Polaris-Layout__AnnotationDescription">
                    <p>Click save to apply changes</p>
                  </div>
                </div>
              </div>
              <div class="Polaris-Layout__AnnotationContent">
                <div class="Polaris-Card">
                  <div class="Polaris-Card__Header">
                    <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                      <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                        <h2 class="Polaris-Heading">Title Text Preview(when items added to cart)</h2>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section">
                    <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4; display: flex; justify-content: center;">
                      <div class="advance-preview-with-cart">
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Header">
                    <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                      <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                        <h2 class="Polaris-Heading">Title Text Preview(when cart is empty)</h2>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section">
                    <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4; display: flex; justify-content: center;">
                      <div class="advance-preview-no-cart">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <%# end %>
    </div>
  </div>
</div>
<div id="preview-css">
  <%= render 'preview_settings' %>
</div>

<%= render 'pro_popup' %>